@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to funneh site</h1>
    @*<h3 class="display-3">Choose a category:</h3>

    <button onclick="ShowAllJokes()">Show all Categories</button>
    <button onclick="GetDadJoke()">Dad Jokes</button>
    <button onclick="GetProgrammerJoke()">Programmer Jokes</button>
    <button onclick="GetAnimalJoke()">Animal Jokes</button>*@

    <p id="jokeText">Hello world</p>
</div>


<script src="~/js/jokefetcher.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>